<div class="reset-password-container">
    <h2 class="text-center text-success">Reset Password</h2>
    <table class="reset-password-table">
        
      <tr>
        <td colspan="2">
          <div *ngIf="!resetSuccess && showform" class="form-box">
            <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
              <!-- New Password -->
              <div class="form-group">
                <label for="newPassword" class="form-label">New Password</label>
                <input type="password" class="form-control" id="newPassword" formControlName="newPassword">
                <div *ngIf="resetForm.get('newPassword')?.errors?.['required']" class="text-danger">New Password is required</div>
                <div *ngIf="resetForm.get('newPassword')?.errors?.['minlength']" class="text-danger">New Password must be at least 6 characters long</div>
                <div *ngIf="resetForm.get('newPassword')?.errors?.['pattern']" class="text-danger">New Password must contain at least one special character, one uppercase letter, and one lowercase letter</div>
              </div>
    
              <!-- Confirm Password -->
              <div class="form-group">
                <label for="confirmPassword" class="form-label">Confirm Password</label>
                <input type="password" class="form-control" id="confirmPassword" formControlName="confirmPassword">
                <div *ngIf="resetForm.get('confirmPassword')?.invalid && (resetForm.get('confirmPassword')?.dirty || resetForm.get('confirmPassword')?.touched)" class="text-danger">
                  <div *ngIf="resetForm.get('confirmPassword')?.errors?.['required']">Confirm Password is required</div>
                  <div *ngIf="resetForm.get('confirmPassword')?.errors?.['passwordMismatch']">Passwords do not match</div>
                </div>
              </div>
    <div>
              <!-- Submit Button -->
              <button type="submit" [disabled]="resetForm.invalid" class="btn btn-primary">Reset Password</button>
            </div>
            </form>
          </div>
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <div *ngIf="resetSuccess" class="success-message">
            {{ msg }}
          </div>
        </td>
      </tr>
    </table>
  </div>
  