<div *ngIf="!resetSuccess && showform">
<form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
    <!-- New Password -->
    <div class="mb-3">
        <label for="newPassword" class="form-label">New Password</label>
        <input type="password" class="form-control" id="newPassword" formControlName="newPassword">
        <div *ngIf="resetForm.get('newPassword')?.errors?.['required']" class="text-danger">New Password is required</div>
<div *ngIf="resetForm.get('newPassword')?.errors?.['minlength']" class="text-danger">New Password must be at least 6 characters long</div>
    </div>

    <!-- Confirm Password -->
    <div class="mb-3">
        <label for="confirmPassword" class="form-label">Confirm Password</label>
        <input type="password" class="form-control" id="confirmPassword" formControlName="confirmPassword">
        <div *ngIf="resetForm.get('confirmPassword')?.invalid && (resetForm.get('confirmPassword')?.dirty || resetForm.get('confirmPassword')?.touched)" class="text-danger">
            <div *ngIf="resetForm.get('confirmPassword')?.errors?.['required']">Confirm Password is required</div>
<div *ngIf="resetForm.get('confirmPassword')?.errors?.['passwordMismatch']">Passwords do not match</div>
        </div>
    </div>

    <!-- Submit Button -->
    <button type="submit" [disabled]="resetForm.invalid" class="btn btn-primary">Reset Password</button>
</form>
</div>
<div *ngIf="resetSuccess" class="success-message">
    {{msg}}<!-- You can customize this message as needed -->
  </div>