
<header class="w-100 h-100 custom-bg px-4 my-shadow d-flex justify-content-between align-items-center">
    <div class="text-light fs-2 fw-bold fst-italic">
        <span>EZone</span>
    </div>
    <app-search></app-search>
    <div class="btn-toolbar" role="toolbar">
        
        <div class="btn-group btn-group-lg me-3" role="group">
            <button type="button" class="btn btn-outline-light" routerLink="/home">Home</button>
            <button type="button" class="btn btn-outline-light" routerLink="/productlist"
                    *ngIf="utilityService.isLoggedIn() && utilityService.getUserRoleFromLocalStorage()=='Vender'">Product List</button>
                    <button type="button" class="btn btn-outline-light" routerLink="/category"
                    *ngIf="utilityService.isLoggedIn() && utilityService.getUserRoleFromLocalStorage()=='Vender'">Category List</button>
            <div class="btn-group" role="group" *ngIf="utilityService.getUserRoleFromLocalStorage()!='Vender'">
                <button type="button" class="btn btn-outline-light dropdown-toggle" data-bs-toggle="dropdown">
                    Categories
                </button>
                <ul class="dropdown-menu fs-5" (mouseenter)="openDropdown()" (mouseleave)="closeDropdown()">
                    <ng-container *ngFor="let item of navigationList; let i = index;">
                      <li class="text-center fw-bold" (mouseenter)="activeCategory = item" (mouseleave)="activeCategory = null">
                        {{ item.category | titlecase }}
                        <ul class="dropdown-menu-sub" *ngIf="showDropdown && activeCategory === item">
                          <li *ngFor="let subcategory of item.subcategories" [style.cursor]="'pointer'">
                            <a class="dropdown-item" OpenProducts [category]="{ id: 0, 'category': item.category, 'subCategory': subcategory }">
                              {{ subcategory | titlecase }}
                            </a>
                          </li>
                        </ul>
                      </li>
                      <li *ngIf="i !== navigationList.length - 1">
                        <hr class="dropdown-divider">
                      </li>
                    </ng-container>
                  </ul>
                  
            </div>
        </div>

        <div class="btn-group btn-group-lg me-2" role="group">
            <button type="button" class="btn btn-outline-light" data-bs-toggle="modal" data-bs-target="#generalmodal"
                    (click)="openModal('login')" *ngIf="!utilityService.isLoggedIn()">Login</button>
            <button type="button" class="btn btn-outline-light" data-bs-toggle="modal" data-bs-target="#generalmodal"
                    (click)="openModal('register')" *ngIf="!utilityService.isLoggedIn()">Register</button>
                    <button type="button" class="btn btn-outline-light" routerLink="/account" *ngIf="utilityService.isLoggedIn()">
                        {{ accountDetails?.name || 'Account' }}
                      </button>
                      
            <button type="button" class="btn btn-outline-light" routerLink="/cart"
                    *ngIf="utilityService.isLoggedIn() && utilityService.getUserRoleFromLocalStorage()=='User'">
                    Cart
                    <!--<span class="badge bg-warning text-dark">{{cartItems}}</span>-->
                </button>
            <button type="button" class="btn btn-outline-light" routerLink="/orders"
                    *ngIf="utilityService.isLoggedIn() && utilityService.getUserRoleFromLocalStorage()=='User'">Orders</button>
                    <button type="button" class="btn btn-outline-light" routerLink="/orderlist"
                    *ngIf="utilityService.isLoggedIn() && utilityService.getUserRoleFromLocalStorage()=='Vender'">Orders List</button>
                    <button type="button" class="btn btn-outline-light" (click)="utilityService.logoutUser()"
                    *ngIf="utilityService.isLoggedIn()">Logout</button>
        </div>
    </div>
</header>

<!-- Modal -->
<div class="modal fade" id="generalmodal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" #modalTitle></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <ng-container #container></ng-container>
            </div>
        </div>
    </div>
</div>