<!-- ewallet.component.html -->

<div class="container mt-4">
  <div class="card">
    <div class="card-header text-white">
      <h3>Your E-Wallet</h3>
    </div>
    <div class="card-body">
      <div class="balance-container">
        <div *ngIf="eWalletBalance !== undefined">
          <h4>Your Balance</h4>
          <div class="balance">
            <p>{{ eWalletBalance }}</p>
          </div>
        </div>
        <div *ngIf="eWalletBalance === undefined">
          <!-- Loading or error message, handle as needed -->
          <p>Loading E-Wallet details...</p>
        </div>
        <div *ngIf="eWalletBalance === 0">
          <!-- Message indicating zero balance -->
          <p>Your balance is zero. Please recharge your wallet.</p>
        </div>
        <div *ngIf="eWalletBalance == null && eWalletBalance !== undefined">
          <!-- Message indicating absence of account when balance is not null but zero -->
          <p>You don't have an account yet.</p>
        </div>
      </div>
      <div class="button-group">
        <button *ngIf="eWalletBalance === null" type="button" class="btn btn-primary" (click)="registerForEWallet()">Register</button>
        <button *ngIf="eWalletBalance !== null" type="button" class="btn btn-primary" (click)="navigateToRecharge()">Recharge</button>
        <button type="button" class="btn btn-primary" (click)="showChangePasswordForm()">Change Password</button>
        <button type="button" class="btn btn-primary" (click)="showForgetPasswordForm()">Forget Password</button>
      </div>
    </div>
  </div>

  <!-- Recharge Form -->
  <div *ngIf="showRechargeForm">
    <div class="recharge-table">
      <h2>Recharge Your Wallet</h2>
      <form (ngSubmit)="rechargeEWallet()" #rechargeForm="ngForm">
        <div class="mb-3">
          <label for="cardNumber" class="form-label">Card Number</label>
          <input
            type="text"
            id="cardNumber"
            name="cardNumber"
            class="form-control"
            [(ngModel)]="rechargeData.cardNumber"
            required
            pattern="[0-9]{16}"
            #cardNumber="ngModel"
          />
          <div *ngIf="cardNumber.invalid && (cardNumber.dirty || cardNumber.touched)" class="text-danger">
            <div *ngIf="cardNumber.errors && cardNumber.errors['required']">
              Card number is required
            </div>
            <div *ngIf="cardNumber.errors && cardNumber.errors['pattern']">
              Card number must contain 16 digits
            </div>
          </div>
        </div>
        <div class="mb-3">
          <label for="cvvNumber" class="form-label">CVV</label>
          <input
            type="text"
            id="cvvNumber"
            name="cvvNumber"
            class="form-control"
            [(ngModel)]="rechargeData.cvvNumber"
            required
            pattern="[0-9]{3}"
            #cvvNumber="ngModel"
          />
          <div *ngIf="cvvNumber.invalid && (cvvNumber.dirty || cvvNumber.touched)" class="text-danger">
            <div *ngIf="cvvNumber.errors && cvvNumber.errors['required']">
              Card number is required
            </div>
            <div *ngIf="cvvNumber.errors && cvvNumber.errors['pattern']">
              CVV number must contain 3 digits
            </div>
          </div>
        </div>
        <div class="mb-3">
          <label for="cardHolderName" class="form-label">Card Holder Name</label>
          <input
            type="text"
            id="cardHolderName"
            name="cardHolderName"
            class="form-control"
            [(ngModel)]="rechargeData.cardHolderName"
            required
            #cardHolderName="ngModel"
          />
          <div *ngIf="cardHolderName.invalid && (cardHolderName.dirty || cardHolderName.touched)" class="text-danger">
            Card Holder Name is required
          </div>
        </div>
        <div class="mb-3">
          <label for="amount" class="form-label">Amount</label>
          <input
            type="number"
            id="amount"
            name="amount"
            class="form-control"
            [(ngModel)]="rechargeData.amount"
            required
            min="1"
            #amount="ngModel"
          />
          <div *ngIf="amount.invalid && (amount.dirty || amount.touched)" class="text-danger">
            <div *ngIf="amount.errors && amount.errors['required']">
              Amount is required
            </div>
            <div *ngIf="amount.errors && amount.errors['min']">
              Amount must be greater than 0
            </div>
          </div>
        </div>
        <button type="submit" class="btn btn-primary custom-button" [disabled]="rechargeForm.invalid">
          Recharge
        </button>
      </form>
    </div>
  </div>
  


  <!-- Registration Form -->
<div *ngIf="showRegisterform" && eWalletBalance === nul>
  <h2 class="custom-header">User Registration</h2>
  <form (ngSubmit)="registerForEWallet()" #registrationForm="ngForm">
    <div class="mb-3">
      <label for="cardNumber" class="form-label">Card Number</label>
      <input
        type="text"
        id="cardNumber"
        name="cardNumber"
        class="form-control"
        [(ngModel)]="registrationData.cardNumber"
        required
        pattern="[0-9]{16}"
      />
      <div
        *ngIf="
          registrationForm.controls['cardNumber'].invalid &&
          (registrationForm.controls['cardNumber'].dirty ||
            registrationForm.controls['cardNumber'].touched)
        "
        class="text-danger"
      >
        <div
          *ngIf="registrationForm.controls['cardNumber'].errors?.['required']"
        >
          Card Number is required
        </div>
        <div
          *ngIf="registrationForm.controls['cardNumber'].errors?.['pattern']"
        >
          Card Number must be 16 digits
        </div>
      </div>
    </div>
    <div class="mb-3">
      <label for="cvvNumber" class="form-label">CVV</label>
      <input
        type="text"
        id="cvvNumber"
        name="cvvNumber"
        class="form-control"
        [(ngModel)]="registrationData.cvvNumber"
        required
        pattern="[0-9]{3}"
      />
      <div
        *ngIf="
          registrationForm.controls['cvvNumber'].invalid &&
          (registrationForm.controls['cvvNumber'].dirty ||
            registrationForm.controls['cvvNumber'].touched)
        "
        class="text-danger"
      >
        <div
          *ngIf="registrationForm.controls['cvvNumber'].errors?.['required']"
        >
          CVV is required
        </div>
        <div
          *ngIf="registrationForm.controls['cvvNumber'].errors?.['pattern']"
        >
          CVV must be 3 digits
        </div>
      </div>
    </div>
    <div class="mb-3">
      <label for="cardHolderName" class="form-label">Card Holder Name</label>
      <input
        type="text"
        id="cardHolderName"
        name="cardHolderName"
        class="form-control"
        [(ngModel)]="registrationData.cardHolderName"
        required
      />
      <div
        *ngIf="
          registrationForm.controls['cardHolderName'].invalid &&
          (registrationForm.controls['cardHolderName'].dirty ||
            registrationForm.controls['cardHolderName'].touched)
        "
        class="text-danger"
      >
        <div
          *ngIf="registrationForm.controls['cardHolderName'].errors?.['required']"
        >
          Card Holder Name is required
        </div>
      </div>
    </div>
    <div class="mb-3">
      <label for="amount" class="form-label">Amount</label>
      <input
        type="number"
        id="amount"
        name="amount"
        class="form-control"
        [(ngModel)]="registrationData.amount"
        required
        min="1"
      />
      <div
        *ngIf="
          registrationForm.controls['amount'].invalid &&
          (registrationForm.controls['amount'].dirty ||
            registrationForm.controls['amount'].touched)
        "
        class="text-danger"
      >
        <div *ngIf="registrationForm.controls['amount'].errors?.['required']">
          Amount is required
        </div>
        <div *ngIf="registrationForm.controls['amount'].errors?.['min']">
          Amount must be greater than 0
        </div>
      </div>
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input
        type="password"
        id="password"
        name="password"
        class="form-control"
        [(ngModel)]="registrationData.password"
        required
        pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$"
      />
      <div
        *ngIf="
          registrationForm.controls['password'].invalid &&
          (registrationForm.controls['password'].dirty ||
            registrationForm.controls['password'].touched)
        "
        class="text-danger"
      >
        <div *ngIf="registrationForm.controls['password'].errors?.['required']">
          Password is required
        </div>
        <div *ngIf="registrationForm.controls['password'].errors?.['pattern']">
          Password must contain at least 8 characters, including uppercase,
          lowercase, a number, and a special character
        </div>
      </div>
    </div>
    <div class="mb-3">
      <label for="confirmPassword" class="form-label">Confirm Password</label>
      <input
        type="password"
        id="confirmPassword"
        name="confirmPassword"
        class="form-control"
        [(ngModel)]="registrationData.confirmPassword"
        (input)="validateConfirmPasswordRegister()"
        required
      />
      <!-- Error Messages for Confirm Password -->
      <div
      *ngIf="
        !passwordsMatchRegistration()
      " class="text-danger"
    >
      Passwords do not match
    </div>
      <div
        *ngIf="
          registrationForm.controls['confirmPassword'].invalid &&
          (registrationForm.controls['confirmPassword'].dirty ||
            registrationForm.controls['confirmPassword'].touched)
        "
        class="text-danger"
      >
        <div
          *ngIf="registrationForm.controls['confirmPassword'].errors?.['required']"
        >
          Confirm Password is required
        </div>
       
      </div>
    </div>
    <button
      type="submit"
      class="btn btn-primary"
      [disabled]="registrationForm.invalid || !passwordsMatchRegistration()"
    >
      Register
    </button>
  </form>
</div>


  <!-- Change Password Form -->
  <div *ngIf="showChangePassword">
    <h2>Change Password</h2>
    <form (ngSubmit)="changeEWalletPassword()" #changePasswordForm="ngForm">
      <!-- Current Password -->
      <div class="mb-3">
        <label for="currentPassword" class="form-label">Current Password</label>
        <input
          type="password"
          id="currentPassword"
          name="currentPassword"
          class="form-control"
          [(ngModel)]="passwordChangeData.currentPassword"
          required
        />
      </div>
      <!-- New Password -->
      <div class="mb-3">
        <label for="newPassword" class="form-label">New Password</label>
        <input
          type="password"
          id="newPassword"
          name="newPassword"
          class="form-control"
          [(ngModel)]="passwordChangeData.newPassword"
          required
          pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$"
        />
        <!-- Error Messages for New Password -->
        <div
          *ngIf="
            changePasswordForm.controls['newPassword'].invalid &&
            changePasswordForm.controls['newPassword'].touched
          "
          class="text-danger"
        >
          <div
            *ngIf="changePasswordForm.controls['newPassword'].errors?.['required']"
          >
            New Password is required
          </div>
          <div
            *ngIf="changePasswordForm.controls['newPassword'].errors?.['pattern']"
          >
            New Password must contain at least 8 characters, including
            uppercase, lowercase, a number, and a special character
          </div>
        </div>
      </div>
      <!-- Confirm New Password -->
      <div class="mb-3">
        <label for="confirmPassword" class="form-label"
          >Confirm New Password</label
        >
        <input
          type="password"
          id="confirmPassword"
          name="confirmPassword"
          class="form-control"
          [(ngModel)]="passwordChangeData.confirmPassword"
          required
          (input)="validateConfirmPassword()"
        />
        <!-- Error Messages for Confirm New Password -->
        <div
          *ngIf="
            !passwordsMatchChange() &&
            changePasswordForm.controls['confirmPassword'].touched
          "
          class="text-danger"
        >
          Passwords do not match
        </div>
      </div>

      <!-- Change Password Button -->
      <button
        type="submit"
        class="btn btn-primary"
        [disabled]="changePasswordForm.invalid || !passwordsMatchChange()"
      >
        Change Password
      </button>
    </form>
  </div>
</div>
<!-- Forget Password Form -->
<!-- Forget Password Form -->
<div *ngIf="showForgetPassword">
  <h2>Forget Password</h2>
  <form (ngSubmit)="forgetEWalletPassword()" [formGroup]="forgetPasswordForm">
    <!-- Email -->
    <div class="mb-3">
      <label for="email" class="form-label">Email</label>
      <input
        type="email"
        id="email"
        name="email"
        class="form-control"
        formControlName="email"
        [(ngModel)]="forgetPasswordData.email"
      />
      <!-- Error Messages for Email -->
      <div
        *ngIf="forgetPasswordForm.controls['email'].invalid && forgetPasswordForm.controls['email'].touched"
        class="text-danger"
      >
        <div *ngIf="forgetPasswordForm.controls['email'].errors?.['required']">
          Email is required
        </div>
        <div *ngIf="forgetPasswordForm.controls['email'].errors?.['email']">
          Invalid email format
        </div>
      </div>
    </div>

    <!-- New Password -->
    <div class="mb-3">
      <label for="newPassword" class="form-label">New Password</label>
      <input
        type="password"
        id="newPassword"
        name="newPassword"
        class="form-control"
        formControlName="password"
        [(ngModel)]="forgetPasswordData.password"
      />
      <!-- Error Messages for New Password -->
      <div
        *ngIf="forgetPasswordForm.controls['password'].invalid && forgetPasswordForm.controls['password'].touched"
        class="text-danger"
      >
        <div *ngIf="forgetPasswordForm.controls['password'].errors?.['required']">
          Password is required
        </div>
        <div *ngIf="forgetPasswordForm.controls['password'].errors?.['pattern']">
          Password must contain at least 8 characters, including uppercase, lowercase, a number, and a special character
        </div>
      </div>
    </div>

    <!-- Confirm New Password -->
    <div class="mb-3">
      <label for="confirmPassword" class="form-label">Confirm New Password</label>
      <input
        type="password"
        id="confirmPassword"
        name="confirmPassword"
        class="form-control"
        formControlName="confirmPassword"
        [(ngModel)]="forgetPasswordData.confirmPassword"
        (input)="validateConfirmPasswordForget()"
      />
      <!-- Error Messages for Confirm New Password -->
      <div
        *ngIf="!passwordsMatchForget() && forgetPasswordForm.controls['confirmPassword'].touched"
        class="text-danger"
      >
        Passwords do not match
      </div>
    </div>

    <!-- Forget Password Button -->
    <button
      type="submit"
      class="btn btn-primary"
      [disabled]="forgetPasswordForm.invalid || !passwordsMatchForget()"
    >
      Reset Password
    </button>
  </form>
</div>





