/* checkout.component.css */

.checkout-container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease; /* Adding transition for the box-shadow */
  }
  
  .checkout-container:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); /* Applying a larger shadow on hover */
  }
  
  .checkout-container h2 {
    color: #4caf50;
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  
  .checkout-form-label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .checkout-form-input,
  .checkout-form-select {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #4caf50;
    border-radius: 4px;
    background-color: #f8f8f8;
    color: #333;
  }
  
  .checkout-form-select {
    appearance: none;
    background-image: url('data:image/svg+xml;utf8,<svg fill="%234caf50" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z" /><path d="M0 0h24v24H0z" fill="none" /></svg>');
    background-repeat: no-repeat;
    background-position: right 8px center;
  }
  
  .checkout-form-div {
    margin-bottom: 10px;
  }
  
  .cart-items-container {
    margin-top: 20px;
  }
  
  .cart-items-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
  }
  
  .cart-items-table th,
  .cart-items-table td {
    border: 1px solid #ddd;
    padding: 15px;
    text-align: left;
  }
  
  .cart-items-table th {
    background-color: #4caf50;
    color: #ffffff;
    transition: background-color 0.3s ease;
  }
  
  .cart-items-table td {
    background-color: #f8f8f8;
    transition: background-color 0.3s ease;
  }
  
  .cart-items-table tbody tr:hover {
    background-color: #e0f7fa;
    transition: background-color 0.3s ease;
  }
  
  .total-cart-value {
    margin-top: 20px;
    padding: 15px;
    background-color: #f8f8f8;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-size: 18px;
    color: #333;
  }
  
  .place-order-button {
    background-color: #4caf50;
    color: #ffffff;
    padding: 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
    margin-top: 20px;
  }
  
  .place-order-button:hover {
    background-color: #45a049;
  }
  