
<div class="container mt-4">
  <!-- Category dropdown -->
  <button type="button" class="btn btn-success add-button" (click)="addProductForm()">
    Add Product
  </button>
  <div class="container form-container" *ngIf="isEditMode && !selectedProduct">
    <h2>Add Product</h2>
    <form (ngSubmit)="addProduct()">
      <!-- Input fields for product properties -->
      <div class="form-group">
        <label for="productName">Product Name</label>
        <input
          type="text"
          class="form-control"
          id="productName"
          [(ngModel)]="newProduct.productName"
          name="productName"
        />
      </div>
      <div class="form-group">
        <label for="description">Description</label>
        <textarea
          class="form-control"
          id="description"
          [(ngModel)]="newProduct.description"
          name="description"
        ></textarea>
      </div>
      <div class="form-group">
        <label for="price">Price</label>
        <input
          type="number"
          class="form-control"
          id="price"
          [(ngModel)]="newProduct.price"
          name="price"
        />
      </div>
      <div class="form-group">
        <label for="stock">Stock</label>
        <input
          type="number"
          class="form-control"
          id="stock"
          [(ngModel)]="newProduct.stock"
          name="stock"
        />
      </div>
      <div class="form-group">
        <label for="imageUrl">Image URL</label>
        <input
          type="text"
          class="form-control"
          id="imageUrl"
          [(ngModel)]="newProduct.imageUrl"
          name="imageUrl"
        />
      </div>
      <div class="form-group">
        <label for="categoryName">Category Name</label>
        <input
          type="text"
          class="form-control"
          id="categoryName"
          [(ngModel)]="newProduct.categoryName"
          name="categoryName"
        />
      </div>
      <div class="form-group">
        <label for="subCategoryName">Subcategory Name</label>
        <input
          type="text"
          class="form-control"
          id="subCategoryName"
          [(ngModel)]="newProduct.subCategoryName"
          name="subCategoryName"
        />
      </div>
      <div class="form-group">
        <label for="venderEmail">Vendor Email</label>
        <input
          type="email"
          class="form-control"
          id="venderEmail"
          [(ngModel)]="newProduct.venderEmail"
          name="venderEmail"
        />
      </div>
      <!-- Save and Cancel buttons -->
      <button type="submit" class="btn btn-primary">
        Add
      </button>
      <button type="button" class="btn btn-secondary" (click)="cancelAdd()">
        Cancel
      </button>
    </form>
  </div>
  <div class="form-group">
    <label class="custom-cate"for="categorySelect">CATEGORY</label>
    <select class="form-control" id="categorySelect" [(ngModel)]="selectedCategory" (change)="onCategoryChange()">
      <option value="">Select Category</option>
      <option *ngFor="let category of categories" [value]="category">{{ category }}</option>
    </select>
  </div>

  <!-- Subcategory dropdown (only shown when a category is selected) -->
  <div class="form-group" *ngIf="selectedCategory">
    <label  class="custom-cate" for="subcategorySelect">SUBCATEGORY</label>
    <select class="form-control" id="subcategorySelect" [(ngModel)]="selectedSubcategory" (change)="onSubcategoryChange()">
      <option value="">Select Subcategory</option>
      <option *ngFor="let subcategory of  getSubcategoryNames(selectedCategory)" [value]="subcategory">{{ subcategory }}</option>
    </select>
  </div>

  <!-- Products -->
  <table class="table table-bordered table-hover">
    <thead class="thead-dark">
      <tr>
        <th>Product Image</th>
        <th>Product Name</th>
        <th>Description</th>
        <th>Price</th>
        <th>Stock</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let product of filteredProducts; let i = index ">
        <tr>
          <!-- HTML for product row -->
          <td [routerLink]="['/product-details']" [queryParams]="{ id: product.productId }"><img src="../../assets/Images/{{ product.imageUrl }}" alt="Product Image" class="product-image"></td>
          <td>
            <div class="product-name">{{ product.productName.split(' ').slice(0, 30).join(' ') + (product.productName.split(' ').length > 30 ? '...' : '') }}</div>
          </td>
          <td>
            <div class="description-cell">{{ product.description.split(' ').slice(0, 60).join(' ') + (product.productName.split(' ').length > 60 ? '...' : '') }}</div>
          </td>
          <td>{{ product.price }}</td>
          <td>{{ product.stock }}</td>
          <td>
            <div class="button-group">
              <button type="button" class="btn btn-primary" (click)="editProduct(product, i)">Edit</button>
              <button type="button" class="btn btn-danger" (click)="deleteProduct(product.productId)">Delete</button>
            </div>
          </td>
        </tr>
        <!-- Form to edit product -->
        <tr *ngIf="isEditMode && selectedIndex === i + 1">
          <td colspan="6">
            <div class="container form-container">
              <h2>{{ selectedProduct?.productId ? "Edit" : "Add" }} Product</h2>
              <form (ngSubmit)="saveProduct()">
                <!-- Input fields for product properties -->
                <div class="form-group" *ngIf="selectedProduct">
                  <label for="productName">Product Name</label>
                  <input
                    type="text"
                    class="form-control"
                    id="productName"
                    [(ngModel)]="selectedProduct.productName"
                    name="productName"
                    (ngModelChange)="selectedProduct.productName = $event"
                  />
                </div>
                <div class="form-group" *ngIf="selectedProduct">
                  <label for="description">Description</label>
                  <textarea
                    class="form-control"
                    id="description"
                    [(ngModel)]="selectedProduct.description"
                    name="description"
                    (ngModelChange)="selectedProduct.description = $event"
                  ></textarea>
                </div>
                <div class="form-group" *ngIf="selectedProduct">
                  <label for="price">Price</label>
                  <input
                    type="number"
                    class="form-control"
                    id="price"
                    [(ngModel)]="selectedProduct.price"
                    name="price"
                    (ngModelChange)="selectedProduct.price = $event"
                  />
                </div>
                <div class="form-group" *ngIf="selectedProduct">
                  <label for="stock">Stock</label>
                  <input
                    type="number"
                    class="form-control"
                    id="stock"
                    [(ngModel)]="selectedProduct.stock"
                    name="stock"
                    (ngModelChange)="selectedProduct.stock = $event"
                  />
                </div>
                <div class="form-group" *ngIf="selectedProduct">
                  <label for="imageUrl">Image URL</label>
                  <input
                    type="text"
                    class="form-control"
                    id="imageUrl"
                    [(ngModel)]="selectedProduct.imageUrl"
                    name="imageUrl"
                    (ngModelChange)="selectedProduct.imageUrl = $event"
                  />
                </div>
                <div class="form-group" *ngIf="selectedProduct">
                  <label for="categoryName">Category Name</label>
                  <input
                    type="text"
                    class="form-control"
                    id="categoryName"
                    [(ngModel)]="selectedProduct.categoryName"
                    name="categoryName"
                    (ngModelChange)="selectedProduct.categoryName = $event"
                  />
                </div>
                <div class="form-group" *ngIf="selectedProduct">
                  <label for="subCategoryName">Subcategory Name</label>
                  <input
                    type="text"
                    class="form-control"
                    id="subCategoryName"
                    [ngModel]="selectedProduct.subCategoryName"
                    name="subCategoryName"
                    (ngModelChange)="selectedProduct.subCategoryName = $event"
                  />
                </div>
                <div class="form-group">
                  <label for="venderEmail">Vendor Email</label>
                  <input
                    type="email"
                    class="form-control"
                    id="venderEmail"
                    [ngModel]="selectedProduct?.venderEmail"
                    (ngModelChange)="selectedProduct && (selectedProduct.venderEmail = $event)"
                    name="venderEmail"
                  />
                </div>
                <!-- Save and Cancel buttons -->
                <button type="submit" class="btn btn-primary">{{ selectedProduct?.productId ? "Save" : "Add" }}</button>
                <button type="button" class="btn btn-secondary" (click)="cancelEdit()">Cancel</button>
              </form>
            </div>
          </td>
        </tr>
      </ng-container>
    </tbody>
  </table>

  <!-- Add button -->
</div>

<!-- Form to edit/add product -->


<!-- Form to add product -->

