<div class="input-group mb-3">
  <input
    type="text"
    class="form-control"
    placeholder="Search"
    [(ngModel)]="searchQuery"
    (input)="search()"
    (keydown.enter)="handleSearch()"
  />
  <div class="input-group-append" (click)="handleSearch()">
    <span class="input-group-text">
      <img src="../../assets/Images/search/search.svg" alt="Search icon">
    </span>
  </div>

<div *ngIf="showAutocomplete" class="autocomplete-dropdown">
  <ul class="list-group">
    <li class="list-group-item" *ngFor="let result of searchResults" (click)="optionSelected(result)">
      {{ result.productName.substring(0,15) }}
    </li>
  </ul>
</div>
</div>
