/* search.component.css */
.search-bar {
  position: relative;
  
}
.input-group>.form-control{
  width:400px !important;
}
.autocomplete-dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: #fff;
  border: 1px solid #ced4da;
  border-top: none;
}

.autocomplete-dropdown ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.autocomplete-dropdown li {
  cursor: pointer;
}

.autocomplete-dropdown li:hover {
  background-color: #f8f9fa;
}

.input-group-text img {
  width: 20px; /* Adjust icon size as needed */
  height: 24px;
 
}
