.card-header{
    background-color: #4caf50;
}
.heading1{
    color: aliceblue;
}
.custom-border {
    border-width: 0px 10px 10px 0; /* top right bottom left */
    border-style: solid;
    border-color: #4caf50;
  }
  /* Add this style in your global CSS file or in the component's CSS file */
.custom-button {
    border: 1px solid #4caf50;
    color: white;
    background-color: #4caf50;
  }
  
  .custom-button:hover {
    background-color: white; /* Change the background color on hover */
    color: #4caf50;
  }
  .custom-edit{
    /* background-color: #4caf50; */
    color: black;
    /* border-width: 10px 10px 00px 0; top right bottom left */
    border-style: solid;
    border-color: #4caf50;
  }
  .custom-edit-header{
    background-color: white;
    color:#4caf50; }
.custom-input{
  border-style: solid;
  border-color: #4caf50;
    }

    .card-header {
      background-color: #4caf50;
      color: white;
  }
  .card{
    border-color: #4caf50;
    border-radius: 8px;
  }
  
.table {
      width: 100%;
      border-collapse: collapse;
      margin-bottom: 1rem;
      color: #212529;
}
  
  .table th,
  .table td {
      padding: 0.75rem;
      vertical-align: top;
      border-top: 1px solid #dee2e6;
  }
  
  .table-bordered {
      border: 1px solid #4caf50;
  }
  
  .table-bordered th,
  .table-bordered td {
      border: 1px solid #dee2e6;
      border-color: #4caf50;
  }
  
  .btn-custom {
      background-color: #4caf50;
      color: white;
      border: none;
  }
  
  .btn-custom:hover {
      background-color: #0056b3;
      color: white;
  }
  
  .custom-button {
      margin-top: 1rem;
  }
  
  .container {
      max-width: 800px;
      margin: 0 auto;
  }
  