.card-header{
    background-color: #4caf50;
}
.heading1{
    color: aliceblue;
}
.custom-border {
    border-width: 0px 10px 10px 0; /* top right bottom left */
    border-style: solid;
    border-color: #4caf50;
  }
  /* Add this style in your global CSS file or in the component's CSS file */
.custom-button {
    border: 1px solid #4caf50;
    color: white;
    background-color: #4caf50;
  }
  
  .custom-button:hover {
    background-color: white; /* Change the background color on hover */
    color: #4caf50;
  }
  .custom-edit{
    /* background-color: #4caf50; */
    color: black;
    /* border-width: 10px 10px 00px 0; top right bottom left */
    border-style: solid;
    border-color: #4caf50;
  }
  .custom-edit-header{
    background-color: white;
    color:#4caf50; }
.custom-input{
  border-style: solid;
  border-color: #4caf50;
    }