.card-header{
    background-color: black;
}
.heading1{
    color: aliceblue;
}
.custom-border {
    border-width: 0px 10px 10px 0; /* top right bottom left */
    border-style: solid;
    border-color: black;
  }
  /* Add this style in your global CSS file or in the component's CSS file */
.custom-button {
    border: 1px solid black;
    color: white;
    background-color: rgb(52, 50, 50);
  }
  
  .custom-button:hover {
    background-color: white; /* Change the background color on hover */
    color: black;
  }
  .custom-edit{
    background-color: rgb(16, 16, 16);
    color: rgb(247, 245, 250);
    border-width: 10px 10px 00px 0; /* top right bottom left */
    border-style: solid;
    border-color: black;
  }
  .custom-edit-header{
    background-color: white;
    color:black;  }